<%= form_tag '/generate', :method => :post do %>
  <%= hidden_field_tag :slug, @certified.slug %>
  <div class="form-group" >
    <h2>Seu certificado está aguardando você!</h2>
    <h5>Digite seu email cadastrado no eventick e clique em gerar certificado.</h5>
  </div>
  <br/>

  <div class="form-group">
    <%= label_tag :email %>
    <%= text_field_tag :email, nil, :class => 'form-control'%>
  </div>

  <%= submit_tag 'Gerar Certificado', :class => 'btn btn-primary'%>
<% end %>
