<%= form_for @certified, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :event, :class => 'control-label' %>

    <div class="controls" >
      <%= @certified.event.title if edit %>
      <%= f.select :event_id, @events.map { |p| [ p.title, p.id ] }, { include_blank: true } unless edit %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :background, :class => 'control-label' %>
    <div id="uploader" class="controls" >
      <%= f.file_field :background, :class => 'upload' %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t(:cancel, :default => t("helpers.links.cancel")), certifieds_path, :class => 'btn' %>
  </div>
<% end %>
