<%= form_for @certified, html: { role: 'form', multipart: true } do |f| %>
  <div class="from-group">
    <%= f.label :event %>
    <% if edit %>
      <%= @certified.event.title %>
    <% else %>
      <%= f.select :event_id, @events.map { |p| [ p.title, p.id ] }, { include_blank: true }, { class: 'form-control'} %>
    <% end %>
  </div>

  <div class="form-group">
    <%= f.label :background %>
    <%= f.file_field :background %>
  </div>

  <%= f.submit nil, :class => 'btn btn-primary' %>
  <%= link_to t(:cancel, :default => t("helpers.links.cancel")), certifieds_path, class: 'btn btn-danger' %>
<% end %>


<h2>Template da imagem</h2>
<%= image_tag("templates/certick_template_background_001.png") %>
