<%= form_for @certified, :html => { :class => 'form-horizontal' } do |f| %>
  
  <div class="control-group">
    <%= f.label :event_id, :class => 'control-label' %>

    <div class="controls" >
      <%= f.select :event_id, @events.map { |p| [ p.title, p.id ] }, { include_blank: true }%>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :background_url, :class => 'control-label' %>
    
    <div class="controls" >
      <%= f.hidden_field :background_url, role: "uploadcare-uploader", 'data-preview-step' => "false", 'data-images-only' => "true", 'data-crop'=> "1024x768 minimum", 'data-clearable' => "true" %>
    </div>
  </div>
  <div class="form-actions">
    <%= f.submit 'Salvar Certificado', :class => 'btn btn-primary' %>
    <%= link_to t(:cancel, :default => t("helpers.links.cancel")), certifieds_path, :class => 'btn' %>
  </div>
<% end %>
