<% model_class = Certified %>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:event) %></th>
      <th><%= model_class.human_attribute_name(:url) %></th>
      <th><%= model_class.human_attribute_name(:thumb) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @certifieds.each do |certified| %>
      <tr>
        <td><%= link_to certified.event.title, certified_path(certified) %></td>
        <td><%= slug_full_url(certified.slug) %><%= link_to image_tag(image_path "out_16x16.png"), slug_full_url(certified.slug) , :class => 'out', target: "_blank" %></td>

        <td><%= image_tag certified.background_url.resize(:thumb) %></td>
        <td>

          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      certified_path(certified),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Novo', new_certified_path, class: 'btn btn-primary' %>
